body {
    max-width: 80vw;
    height: 80vw;
    margin: 0 auto;
    padding-top: 7vw;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
   
}

.box {
    margin-top: 3vw;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(28, 1fr);
    width: 80vw;
    height: calc(5 / 6 * 80vw);
    }

.item {
    border: 1px solid black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }
